/* C:\Users\rc2ju\OneDrive\Documents\core_37\style.css */
hr {
    border: none;
    height: 2px;
    background-color: cyan;
}

.hr1 {
    border: none;
        border-top: 3px double #333333;
        color: #333333;
        overflow: visible;
        text-align: center;
        height: 5px;
        width: 80%; /* responsible */
                    /* 300px is ok too */
    background-color: lime;
}

/* ex-17.x, */
#canvas500 {
    border: 1px solid black;
}

/* ex-17.9 */
/* body {
    background: 0 -100px repeat-x url("bg_gallery.png") #4f191a;
    margin: 10px;
} */

img {
    display: none;
}

table {
    margin: 0 auto;
}

td {
    padding: 15px;
}