/* C:\Users\rc2ju\OneDrive\Documents\core_37\style.css */
hr {
    border: none;
    height: 2px;
    background-color: cyan;
}

.hr1 {
    border: none;
        border-top: 3px double #333333;
        color: #333333;
        overflow: visible;
        text-align: center;
        height: 3px;
        width: 80%; /* responsible */
                    /* 300px is ok too */
}

/* ex-12.7, document.querySelector() method*/
div {
    background-color: blue;
    margin: 1rem 0;
    height: 100px;
    width: 200px;
}

/* ex-12.9, Implementing a basic calendar*/
html {
    font-family: sans-serif;
}

h2 {
    font-size: 16px;
}

.a11y-label {
    margin: 0;
    text-align: right;
    font-size: 0.7rem;
    width: 98%;
}

body {
    margin: 10px;
    background: #f5f9fa;
}

* {
    box-sizing: border-box;
}

ul {
    padding-left: 0;
}

li {
    display: block;
    float: left;
    width: 25%;
    border: 2px solid white;
    padding: 5px;
    height: 40px;
    background-color: #4a2db6;
    color: white;
}