/* C:\Users\rc2ju\OneDrive\Documents\core_37\style.css */
hr {
    border: none;
    height: 2px;
    background-color: cyan;
}

.hr1 {
    border: none;
        border-top: 3px double #333333;
        color: #333333;
        overflow: visible;
        text-align: center;
        height: 5px;
        width: 80%; /* responsible */
                    /* 300px is ok too */
    background-color: lime;
}

img {
    display: none;
}

img#frame {
    display: none !important;
}

canvas {
    display: block !important;
    border: none;
    margin: 0;
    padding: 0;
    background-color: white !important;
}

table {
    margin: 0 auto;
}

td {
    padding: 15px;
}